@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,600);
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.browsehappy {
    margin: .2em 0;
    padding: .2em 0;
    color: #000;
    background: #ccc;
}
/* Space out content a bit */

body {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    background: #3d3d3d;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
/* Custom page header */

.header {
    border-bottom: 0 solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 19px;
}
/* Custom page footer */

.footer {
    padding: 30px 0 15px;
    text-align: center;
    color: #fff;
}

.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */

    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */

    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */

    .jumbotron {
        border-bottom: 0;
    }
}
/* Navbar Menu Center*/
/*
.navbar-nav {}*/

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}

.mynavbar {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.mynavbar .nav {
    float: none;
}

.mynavbar .nav li {
    display: inline-block;
    float: none;
    margin: 0 10px;
    vertical-align: middle;
}

.mynavbar .nav li a {
    color: #fff;
    background: #3d3175;
}

.mynavbar .nav li a:hover {
    color: #fff;
    background: #3d3175;
}

.navbar-brand {
    display: none;
}

.navbar {
    color: #fff;
    border-bottom: 0;
    background: #3d3175;
}

#head-lp {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    background: url(../images/background-logo.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#unduh {
    color: #fff;
    background: #3d3175;
}

.unduh-kata {
    padding: 55px 0;
    color: #fff;
}

.footer-jazz {
    padding: 25px 0;
    color: #fff;
}

a,
a:hover,
a:active {
    color: #fff;
}

.button-social {
    padding: 70px;
    letter-spacing: 20px;
}

.logo-lj2015 {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 25px 5px;
    padding: 20px;
}

.playstore {
    padding-top: 5px;
}

#news {
    color: #3d3d3d;
    background: #fff;
}

.news {
    max-width: 1000px;
}

.title-section {
    padding: 20px 30px;
    text-align: center;
}

.news-content {
    text-align: center;
}

.content {
    padding: 5px 20px;
}

.foto {
    padding: 20px 0 0;
}

.title-content {
    padding: 0 20px 0;
}

.more-button {
    padding-top: 40px;
    text-align: center;
}

.more-button-white {
    padding-top: 0;
    text-align: center;
}

.btn {
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin: 30px 30px;
    padding: 15px 40px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: inherit;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
}

.btn:after {
    position: absolute;
    z-index: -1;
    content: '';
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.btn:before {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    position: relative;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.btn-1 {
    color: #3d3d3d;
    border: 3px solid #3d3d3d;
}

.btn-1a:hover,
.btn-1a:active {
    color: #fff;
    background: #3d3d3d;
}

.btn-2 {
    color: #fff;
    border: 3px solid #fff;
}

.btn-2a:hover,
.btn-2a:active {
    color: #3d3d3d;
    background: #fff;
}

#testimonial {
    color: #fff;
    background: #3d3175;
}

#puwi {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    background: url(../images/puwi-gb.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.puwi-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 25px 5px;
    padding: 20px;
}

#tg {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    background: url(../images/tg-gb.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tg-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 25px 5px;
    padding: 20px;
}

.tg-kata {
    padding: 0 25px 0;
    color: #fff;
}

#jazzngisoringin {
    color: #fff;
    background: #2d2d2d;
}

#bahagia {
    color: #fff;
    background: #3d3d3d;
}

.img-responsive {
    width: 80%;
}
